branches:
  only: travis-build

language: node_js
node_js: "9"

notifications:
  email: false

matrix:
  include:
    - os: osx
      osx_image: xcode9.2
      env:
        - ELECTRON_CACHE=$HOME/.cache/electron
        - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder

    - os: linux
      sudo: true
      services: docker
      language: generic
      env:
        - ELECTRON_CACHE=$HOME/.cache/electron
        - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder

cache:
  yarn: true
  directories:
  - node_modules
  - $HOME/.cache/electron
  - $HOME/.cache/electron-builder

before_install:
  - |
    if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      brew install git-lfs
    elif [ "$TRAVIS_OS_NAME" == "linux" ]; then
      sudo apt-get install p7zip-full
    fi

install:
  - yarn install

before_script:
  - git lfs pull

script:
  - yarn release

before_cache:
  - rm -rf $HOME/.cache/electron-builder/wine

branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"